<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   gifts.plist
   FXAnimationEngineDemo

   Created by jinchu on 17/3/2.
   Copyright (c) 2017年 ShawnFoo. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
